*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    
}

:root{
    --bgLight:rgb(224, 204, 204);
    --bgDark:rgb(37, 31, 31);
    --black:#000000;
    --white:#ffffff;

}

body{
    background-color: rgb(224, 204, 204);

    height: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "header h h m m m";
}

header{
    display: flex;
    /* border: 2px solid black; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: antiquewhite; */
    padding: 1em 1em 1em 1em;
    flex-grow: 1;
    
}

header .first{
    display: flex;
    /* border: 2px solid black; */
    flex-direction: row;
    align-self: center;
    align-items: center;
}
header .first img{
    margin: 0em 0.5em 0em 0em;
}




.skills ul li img{
    /* width: 32px; */

    border: 2px solid black;
    border-radius: 50%;

}